<h1 class="text-center">Find an event <strong> nearby </strong>!</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <% @events.each do |event| %>
        <div class="card-product">
            <% if event.photo.attached? %>
              <div class="event-left-image"><%= cl_image_tag event.photo.key, height: 300, width: 400, crop: :fit %></div>
            <% end %>
           <div class="card-product-infos">
              <%= link_to event_path(event) do %>
                <h2><%=event.title %></h2>
                <h2><%=event.category %></h2>
                <h2><%=event.start_time%></h2>
                <h2><%=event.end_time%></h2>
                <h2><%=event.location%></h2>
              <% end %>
           </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
