<% content_for :meta_title, "Discover all types of events around your position in one click" %>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
<div class=media-display-home>
<link
rel="stylesheet"
href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
type="text/css"
/>
<div class=media-map-container>
<div
  id="map"
  style="width: 100vw; height: 100vh;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<button id="itinary" class="btn btn-default" style="z-index: 10000; position: absolute; padding: 0; border: none; top: 48px; right: 8px;"><i class="fas fa-directions fa-2x"></i></button>
</div>
<div class="container indexbackground" style="top: 50vh; ">

  <div id="touch" draggable>
    <div class="drag-bar">

    </div>
  </div>

    <div class="search-form-home">
      <%= form_tag events_path, method: :get do %>
      <div class="d-flex justify-items-center align-items-center">
        <div class="search-form-control">
          <%= text_field_tag :query_word,
          params[:query_word],
          class: "form-control",
            placeholder: "Type"
            %>
          </div>
          <div class="date-filter-box">
            <%= date_field_tag :event_date, id: "date_id" %></div>
<!--      <input type="date" name="event_date" placeholder="pick a date">
-->        <div class="btn-search">
             <%= submit_tag "Search", class: "btn btn-sm btn-outline-secondary" %>
          </div>

      <!--   <button type="button" class="btn"><i class="fas fa-search"></i></button>
      </div> -->
    </div>
    <% end %>
  </div>

    <% @events.each do |event| %>

    <div class="card-product card-index position-relative">
      <% favorite_exists = EventWishlist.where(event: event, user: current_user).length > 0 %>


        <div style="display: none" id="favorite_link">
         <%= link_to @favorite_text, event_wishlist_path(event: event), method: :patch, data: {favorite: favorite_exists}, remote: true %>
        </div>
        <div class="text-center" id="heart" style="color: white">
         <% if favorite_exists %>
            <i class="fas fa-heart fa-lg"></i>
          <% else %>
            <i class="far fa-heart"></i>
          <% end %>
        </div>
       <% if event.photo.attached? %>
      <div class="event-left-image"><%= cl_image_tag event.photo.key, crop: :fit %></div>
      <% else %>
      <img src= <%= event.photo_link %> />
      <% end %>

      <div class="card-product-infos">
        <%= link_to event_path(event) do %>
        <h3><%=event.start_time.strftime("%d/%m/%Y")%></h3>
        <p style="margin-right: 30px;"><strong><%=event.title %></strong> at <%=event.location%></p>
          <% end %>
        </div>
      </div>
    <% end %>

</div>
  </div>
