<% content_for :meta_title, "Discover all types of events around your position in one click" %>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>

<link
rel="stylesheet"
href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
type="text/css"
/>

<h1 class="text-center p-4">Events nearby</h1>

<div
  id="map"
  style="width: 100vw; height: 100vh;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container indexbackground" style="top: 50vh; ">

  <div id="touch" draggable>
    <div class="drag-bar">

    </div>
  </div>

    <div class="search-form-home">
      <%= form_tag events_path, method: :get do %>
      <div class="d-flex justify-items-center align-items-center">
        <div class="search-form-control">
          <%= text_field_tag :query_word,
          params[:query_word],
          class: "form-control",
            placeholder: "Search"
            %>
          </div>
          <div class="date-filter-box">
            <%= date_field_tag :event_date, id: "date_id" %></div>
<!--      <input type="date" name="event_date" placeholder="pick a date">
-->      <div class="btn-search">
  <%= submit_tag "Search", class: "btn btn-sm btn-outline-secondary" %>
</div>

      <!--   <button type="button" class="btn"><i class="fas fa-search"></i></button>
      </div> -->
    </div>
    <% end %>
  </div>

    <% @events.each do |event| %>

    <div class="card-product card-index">
      <% if event.photo.attached? %>
      <div class="event-left-image"><%= cl_image_tag event.photo.key, height: 300, width: 400, crop: :fit %></div>
      <% end %>
      <img src= <%= event.photo_link %> />
      <div class="card-product-infos">
        <%= link_to event_path(event) do %>
        <h3><%=event.start_time.strftime("%d/%m/%Y")%></h3>
        <p><strong><%=event.title %></strong> at <%=event.location%></p>
          <% end %>
        </div>
      </div>
      <% end %>


  </div>
