<h1 class="text-center">Events nearby</h1>


<script>
  if ('geolocation' in navigator) {
    console.log('geolocation available');
    navigator.geolocation .getCurrentPosition(position => {
      const lat = position.coords.latitude;
      const lon = position.coords.longitude;
      document.getElementById('latitude').textContent = lat;
      document.getElementById('longitude').textContent = lon;
      console.log(position);
    });
  } else {
    console.log('geolocation unavailable');
  }
</script>
<h1>Q-Less</h1>
<p>
  latitude: <span id="latitude"></span>&deg;<br />
  longitude: <span id="longitude"></span>&deg;<br />
</p>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div
      id="map"
      style="width: 100%; height: 200px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <br>
    <div class="container">
      <div class="filter-date">
        <!-- <h3>Filter by:</h3> -->
        <%= form_tag(events_path, method: "get") do %>
        <input type="date" name="event_date">
        <input type="submit" class="btn btn-light" value="go">
        <% end %>
      </div>
    </div>


    <% @events.each do |event| %>

    <div class="card-product">
      <% if event.photo.attached? %>
      <div class="event-left-image"><%= cl_image_tag event.photo.key, height: 300, width: 400, crop: :fit %></div>
      <% end %>
      <img src= <%= event.photo_link %> />
      <div class="card-product-infos">
        <%= link_to event_path(event) do %>
        <h3><%=event.start_time.strftime("%d/%m/%Y")%></h3>
        <h2><strong><%=event.title %></strong></h2>
        <h2><%=event.category %></h2>
        <h2>at:  <%=event.location%></h2>
        <p><% event.tag_list.each do |tag| %>
          <%= link_to tag, tagged_path(tag: tag) %>
          <% end %></p>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div>
    <% if policy(Event).create? %>
    <%= link_to "New Event", new_event_path %>
    <% end %>
  </div>
</div>
