<div>
  <% if user_signed_in? && current_user != @user %>
    <% if current_user.following?(@user) %>
    <%= button_to  "Unfollow", follow_path(user_id: @user.id), method: :delete, class: 'btn btn-info'%>
    <% else  %>
    <%= button_to "Follow", follows_path(user_id: @user.id), class: 'btn btn-primary'%>
    <% end %>
  <% end %>
</div>

<div class="img-container">
  <% if @event.photo.attached? %>
  <div class="show-img">
    <%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fit %>
  </div>
  <% else %>
  <div class="seed-img"><img src="<%= @event.photo_link %>" alt="" /></div>
  <% end %>
</div>
<div>
  <div class="title">
    <h1>
      <%= @event.title %>
    </h1>
    <% @very_last_queues.each do |very_last_queue| %>
    <div class=qest>
      <h5>Queue is about <strong><%= very_last_queue.waiting_time %>min</strong> <%= very_last_queue.created_at.strftime("at %l:%M%p")%>.</h5>
    </div>
    <% end %>
    <h3>
      <%= @user.nickname %>
    </h3>


     <!--  <h3>
        <%= @event.category %>
      </h3> -->
      <h3>
        <%= @event.location %>
      </h3>
    </div>
    <div class="address">
      <p>
        <strong><%= @event.address %></strong>
      </p>
    </div>
    <div class="date">
     <p><strong>Starting on: <%= @event.start_time.strftime("%d/%m/%Y") %></strong></p>
   </div>

   <div class="line_up">
    <p> <strong>Line up</strong><br>
      <%= @event.line_up %>
    </p>
  </div>
  <div class="description">
    <p>
      <%= @event.description %>
    </p>
    <h3>
      <%= @event.price %>
    </h3>

    <h3>
      <%= @event.end_time %>
    </h3>
  </div>
  <h3>
    <%= @event.tag_list %>
  </h3>
  <%= link_to favorite_text, event_wishlist_path(event: @event), method: :patch, id: "favorite_link", remote: true %>
  <ul>
    <% @related_events.each do |event| %>
    <li>
      <%= event.title %>
      <% end %>
    </li>
  </ul>
</div>
<% if current_user.event_wishlists.find {|event_w| event_w.event_id =
  @event.id} %>
  <% else %>
  <% end %>
  <div>
    <% if policy(Event).destroy? %>
    <p>
      <%= link_to "Delete my event", event_path(@event), method: :delete, data:
      { confirm: "Are you sure?"}, class: 'btn btn-danger'%>
    </p>
    <% end %>
    <% if policy(Event).edit? %>
    <p>
      <%= link_to "Update my event", edit_event_path(@event), class: 'btn
      btn-info'%>
    </p>
    <% end %>
  </div>
</main>
<div class="queue_est text-center">
  <h2>Queue estimation</h2>
  <% @last_queues.each do |last_queue| %>
  <div class=qest>
    <p>Queue of <strong>
      <%= last_queue.waiting_time %>min</strong> on
      <%= last_queue.created_at.strftime("%a %b %e at %l:%M%p")%> indicated by
      <%= last_queue.user.email %>.</p>
    </div>
    <% end %>
  </div>
  <div class="text-center">
    <h2>Already in front of the club?</h2>
    <%= link_to new_event_queue_estimation_path(@event,
    @queue_estimation) do %>
    <button type="button" class="btn btn-secondary ">Give a estimation of the queue
    </button>
    <% end %>
  </div>
  <br>
  <div id=chatrooomi>
    <h1>
      <%= @chatroom.name %>
    </h1>
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
      <div class="message-container" id="message-<%= message.id %>">
        <i class="author">
          <span>
            <%= message.user.nickname %></span>
            <small>
              <%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
            </i>
            <p>
              <%= message.content %>
            </p>
          </div>
          <% end %>
        </div>
        <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
        <%=
        f.input :content, label: false, placeholder: "Find some friends, ask for the timetable" %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <% end %>
      </div>
    </div>
