<% content_for :meta_title, "Find all the relevant informations you need before going to this event." %>
<div class=media-display-show>
<div class="img-container">
  <% if @event.photo.attached? %>
  <div class="seed-img">
    <%= cl_image_tag @event.photo.key, crop: :fit %>
  </div>
  <% else %>
  <div class="seed-img"><img src="<%= @event.photo_link %>" alt="" /></div>
  <% end %>
</div>

<% @very_last_queues.each do |very_last_queue| %>
  <% if very_last_queue.waiting_time < 30 %>
     <div class="card-q">
  <div class="card-q-min text-center">
    <h2><i class="far fa-pause-circle"></i> Queue estimation</h2>
  </div>
  <div class="card-q-infos text-center">
  <h2><%= very_last_queue.waiting_time %>min</h2>
  </div>
</div>
<% elsif very_last_queue.waiting_time > 60 %>
<div class="card-q-l">
  <div class="card-q-min text-center">
    <h2><i class="far fa-pause-circle"></i> Queue estimation</h2>
  </div>
  <div class="card-q-infos text-center">
  <h2><%= very_last_queue.waiting_time %>min</h2>
  </div>
</div>
<% else %>
<div class="card-q-ll">
  <div class="card-q-min text-center">
    <h2><i class="far fa-pause-circle"></i> Queue estimation</h2>
  </div>
  <div class="card-q-infos text-center">
  <h2><%= very_last_queue.waiting_time %>min</h2>
  </div>
</div>
  <% end %>
<% end %>
<!-- <div class="title">
    <h1><%= @event.title %></h1>
</div> -->
<div class="card-i">


  <div class="card-i-l text-center">
    <h2><i class="fas fa-warehouse"></i>&nbsp;&nbsp;<strong> <%= @event.location %> </strong> <br><br>
    <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;<%= @event.address %></h2>
  </div>
  <div class="card-i-infos">
    <span><%= @event.start_time.strftime("%a %d") %></span>
  </div>
</div>

<div class="card-line">
  <div class="card-line-l">
    <h2>LINE-UP</h2>
  </div>
  <div class="card-line-infos text-center">
    <span><%= @event.line_up %></span>
  </div>
</div>
<div id="accordion">
  <div class="card-d">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0 text-center">
        <button class="btn-desc text-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <p class="descripbtn">Click to read the description</p>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      <p><%= @event.description %></p></div>
    </div>
  </div>
  </div>

  <div class="qest text-center">
    <h2>Already in front of the club?</h2>
    <%= link_to new_event_queue_estimation_path(@event,
    @queue_estimation) do %>
    <button type="button" class="queue-btn btn btn-secondary ">Give a estimation of the queue
    </button>
    <% end %>
  </div>
  <br>
<br>
  <div id=chatrooomi>
    <h1>
      <%= @chatroom.name %>
    </h1>
      <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
      <div class="message-container" id="message-<%= message.id %>">
        <i class="author">
            <small>
              <strong><%= message.user.nickname %> </strong> <%= message.created_at.strftime("%w/%d/%y at %l:%M%p") %></small>
            </i>
            <p>
              <%= message.content %>
            </p>
          </div>
          <% end %>
        </div>
        <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
        <%=
        f.input :content, label: false, placeholder: "Let's chat" %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <% end %>
      </div>

  <ul>
    <% @related_events.each do |event| %>
    <li>
      <%= event.title %>
      <% end %>
    </li>
  </ul>

<div>
<% if current_user.event_wishlists.find {|event_w| event_w.event_id =
  @event.id} %>
  <% else %>
  <% end %>
</div>
</div>

<div class="container-heart" style="position: relative; width: 100%; height: 6px, margin-top: 20px; margin-bottom: 50px">

 <div style="display: none" id="favorite_link">
    <%= link_to @favorite_text, event_wishlist_path(event: @event), method: :patch, id: "favorite_link", data: {favorite: @favorite_exists}, remote: true %>
  </div>

  <div class="text-center heartshow" id="heart" style="color: white">
   <% if @favorite_exits %>
      <i class="fas fa-heart-broken fa-lg"></i>
    <% else %>
      <i class="fas fa-heart fa-lg"></i>
    <% end %>
  </div>
</div>

    <!-- FOLLOW PART TO IMPLEMENT LATER
 -->    <!-- <div>
  <%# if user_signed_in? && current_user != @user %>
    <%# if current_user.following?(@user) %>
    <%#= button_to  "Unfollow", follow_path(user_id: @user.id), method: :delete, class: 'btn btn-info'%>
    <%# else  %>
    <%#= button_to "Follow", follows_path(user_id: @user.id), class: 'btn btn-primary'%>
    <%# end %>
  <%# end %>
</div> -->



  <div>
    <% if policy(@event).destroy? %>
    <p>
      <%= link_to ('<i class="fas fa-trash"></i>').html_safe, event_path(@event), method: :delete, data:
      { confirm: "Are you sure?"}, class: 'btn'%>
    </p>
    <% end %>
    <% if policy(@event).edit? %>
    <p>
      <%= link_to ('<i class="fas fa-edit"></i>').html_safe, edit_event_path(@event), class: 'btn'%>
    </p>
    <% end %>
  </div>


<!-- TO THINK IF WE KEEP IT OR NOT
 -->
<!--   <div class="queue_est text-center">
  <h2>Queue estimation</h2>
  <%# @last_queues.each do |last_queue| %>
  <div class=qest>
    <p>Queue of <strong>
      <%#= last_queue.waiting_time %>min</strong> on
      <%#= last_queue.created_at.strftime("%a %b %e at %l:%M%p")%> indicated by
      <%#= last_queue.user.email %>.</p>
    </div>
    <%# end %>
  </div> -->
