<h1 class="text-center p-5"> Favorited </h1>
<div class=media-display-home>
<div class="production-list__item">

  <% @event_wishlists.each do |event_wishlist|%>
   <div class="card-product card-index">
        <% if event_wishlist.event.photo.attached? %>
          <div class="event-left-image"><%= cl_image_tag event_wishlist.event.photo.key, crop: :fit %></div>
          <% else %>
          <img class="event-left-image" src= <%= event_wishlist.event.photo_link %> />
          <% end %>

      <div class="card-product-infos card-index">
              <%= link_to event_path(event_wishlist.event) do %>
      <h3><%= event_wishlist.event.start_time.strftime("%d/%m/%Y")%></h3>
      <p><strong><%=event_wishlist.event.title %></strong> at <%=event_wishlist.event.location%></p>
     <!--  <h2><strong><%= event_wishlist.event.title %></strong></h2>
      <h2><%= event_wishlist.event.category %></h2>
      <h2>at:  <%= event_wishlist.event.location %></h2> -->
      <p><% event_wishlist.event.tag_list.each do |tag| %>
        <%= link_to tag, tagged_path(tag: tag) %>
        <%end %></p>
        <% end %>
      </div>
      </div>
  <% end  %>

<h1 class="text-center p-5"> Followed </h1>


  <% @followings.each do |follow|%>
    <div class="card-product-infos">
    <%= follow.email %>
    <%= follow.nickname %>
    </div>
<% end  %>
</div>
</div>
